$mainBg: #20272a;
$mainBg: #20272a;
$navBg: #1d2226;
$inputBg: #3c6862;
$btnBg: #184b43;
$headerHeight: 60px;

* {
  font-family: monospace;
}

body {
  margin: 0;
}

.app {
  height: 100vh;
  background: $mainBg;
  color: white;
  overflow: hidden;
  .btn {
    border: none;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 20px;
    width: 70px;
    background: $btnBg;
    color: white;
    font-weight: 700;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $navBg;
    min-height: 60px;
    padding: 10px;
    height: $headerHeight;
    position: sticky;
    a {
      color: white;
    }
  }
  .main-container {
    padding: 20px 10px;
    height: calc(100% - #{$headerHeight});
    overflow: scroll;
    .feedback {
      color: red;
      margin-top: 5px;
      margin-left: 5px;
    }
    .form-container {
      .input-item {
        input {
          padding: 10px;
          border-radius: 20px;
          border: none;
          background: $inputBg;
          margin-right: 10px;
          color: white;
          font-size: 1.2em;
          min-width: 300px;
        }
      }
    }
    .empty-screen {
      margin-top: 20px;
      width: 100%;
      text-align: center;
      img {
        height: 200px;
      }
    }
    .todos-container {
      .item {
        padding: 5px 10px;
        background: $inputBg;
        margin: 10px 0;
        border-radius: 50px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .todones-container {
      .item {
        padding: 5px 10px;
        background: $inputBg;
        margin: 10px 0;
        border-radius: 50px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn {
          font-size: 2em;
        }
        p {
          text-decoration: line-through;
          opacity: 0.5;
        }
      }
    }
  }
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: yellow;
  border-radius: 50% 10%;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  position: absolute;
  top: 0;
  right: 10px;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
